
{% extends 'base.html' %}
{% load static %}


{% block content %}
    
    <div class="container">
        <div class="row">
            <h1>Detalle del empleado docente:</h1>
        </div>
        <div class="row">
            <div class="card" style="width: 400px;">

                
                {% if detalleDocente.avatar %}
                    <img class="card-img-top" src="{{ detalleDocente.avatar.url }}" alt="card image">
                    {% else %}
                    <img class="card-img-top" src="{% static 'img/avatar1.jpg' %}" alt="card image">
                {% endif %}
                    

                
                <div class="card-body">
                    <h4 class="card-title">{{ detalleDocente.last_name }}, {{ detalleDocente.first_name }}</h4>
                    <p class="card-text">
                        <ul>
                            <li>{{ detalleDocente.get_materia_display }}</li>
                            <li>{{ detalleDocente.departamento }}</li>
                        </ul>
                    </p>
                    <a href="{% url 'registro_app:actualizar-docente' detalleDocente.id %}" class="btn btn-primary">Modificar</a>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}